/* See waybar-styles(5) for more info */
/* modules to include:
    -sway/workspaces
    -sway/mode
    -sway/scratchpad
    
    -clock

    -media
    -brightness
    -memory
    -cpu
    -temperature
    -battery 
*/

/* -*- GTK CSS (NOT HTML CSS) -*- */

@define-color licorice #190f0d;
@define-color red #b94734;
@define-color orange-red #c24b11;
@define-color dark-olive #50512f;
@define-color pine #415242;
@define-color green #4d5c2e;
@define-color chamoise #8f7359;
@define-color orange-brown #9d5d21;
@define-color satin-gold #ca9f4e;
@define-color beige #fcebba;
@define-color platinum #d3dcde;

* {
    font-family: "cascadia code";
    font-size: 22px;
    font-weight: 800;
}

/* --------------------
       Colours
-------------------- */

window#waybar {
    color: @pine;
    background: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button,
#workspaces button.active,
#workspaces button.visible,
#clock,
#memory,
#cpu,
#temperature,
#battery,
#mode,
#wireplumber {
    color: @platinum;
    background-color: @pine;
    opacity:0.82;
    border: 4px solid @licorice;
    border-radius: 16px;
}

#workspaces button.active:hover,
#workspaces button:hover,
#workspaces button.visible:hover {
    background: @chamoise;
    opacity: 0.6;
}

#workspaces button.focused {
    background: @orange-brown;
    opacity: 0.65;
}

#workspaces button.urgent {
}

#window{
    color: @licorice;
}

/* --------------------
  Padding and Margins 
-------------------- */

#workspaces button,
#workspaces button.active,
#workspaces button.visible {
    margin: 0px 3px 0px 3px; /* top|right|bottom|left */
    padding: 3px 0px 3px 0px;
}

#memory,
#cpu,
#temperature,
#battery,
#mode,
#wireplumber {
    margin: 0px 3px 0px 3px; 
    padding: 16px 4px 8px 4px;
}


#clock {
    margin: 0px 3px 0px 3px; 
    padding: 10px 4px 10px 4px;
}
